@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat&display=swap');

*{
  box-sizing: border-box;
  
}
body{
  margin:0;
}
.main-header{
  height:5.5rem;
  background-color:#142850;
  color:white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0.5rem;
}

.navbar{
  display: none;
}



.mobile-nav .navitems{
  list-style: none;
  margin:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-nav #mobnav-close-btn{
  position:absolute;
  top:0;
  right:0;
  margin:5px;
  font-size:20px;
  color:rgba(255, 255, 255, 0.698);

}
.mobile-nav .navitem{
  margin:0.8rem;
}

.navitem a{
  color:white;
  text-decoration: none;
} 


.monogram a{
  font-family: 'Bangers', cursive;
  font-size: 20px;
  color:white;
  text-decoration:none;
}

.mobile-nav{
  display: none;
  position: fixed;
  width: 100vw;
  top:0;
  z-index:100;
  background-color:#142850;
}

#toggle-button,
#mobnav-close-btn{
  background-color:#142850;
  width:40px;
  height:35px;
  cursor: pointer;
  border:1px solid black;
  border-radius:5px;
  margin-right:5px;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.931);
}
.toggle-button__pipe{
  display: block;
  border:1px solid white;
  margin:4px 0;
}


main{
  min-height: calc(100vh - 5.5rem - 4.2rem);
}

.main-footer{
  background-color:#142850;
  color:white;
  height:4.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}


@media(min-width:560px){
  .navbar{
    display: block;
    font-family: 'Montserrat', sans-serif;
  }
  
  .main-header .navitems{
      list-style: none;
      margin:0.4rem;
      display: flex;
  } 

  .main-header .navitem{
    margin:0.5rem;
  }

  #toggle-button{
    display: none;
  }

}